@font-face {
    font-family: "helvetica-neue-regular";
    src: url("../fonts/helvetica-neue-regular.woff") format("woff"),
    url("../fonts/helvetica-neue-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
