doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    title Target Indicator
  body
    window.window
        .window__title Target Indicator Demo
        .window__content
            .window__status
                .card
                    .card__status Reached:
                    .card__loading
                        .card__loading--first
                        .card__loading--second
                    .card__target
                        .card__target--title Target
                        .card__target--with-bottom-line
                        .card__target--amount $15
                .amount
                    .amount__triangle
                    .amount__price $14
                .info
                    img.info__picture(src="images/icon.png" alt="icon")
                    .info__title You need $1 more to reach your target.
                

                
